.btn:active, .button:focus {
    outline-style: dotted !important;
    outline-width: 1px !important;
    outline-color: #343a40 !important;
}

/* Shapes */

.noradius {
    border-radius: 0;
}

.round {
    border-radius: 50px !important;
}