.btn:active, .button:focus {
    outline-style: dotted !important;
    outline-width: 1px !important;
    outline-color: #343a40 !important;
}

/* Shapes */

.noradius {
    border-radius: 0;
}

.round {
    border-radius: 50px;
}


/* Icon buttons */

.iconbutton {
    min-width: calc(1.5rem + .375rem + .375rem + 2px);
    width: fit-content;
    height: calc(1.5rem + .375rem + .375rem + 2px);
    padding: 0 !important;
}

.iconbutton-icon {
    position: relative;
    top: .375rem;
}

.icon-container {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    align-content: center;
    align-items: center;
    width: calc(1.5rem + .375rem + .375rem + 2px) !important;
    justify-content: center;
}

.text-container {
    display: inline-block;
    width: fit-content !important;
    padding-left: 0;
    padding-right: 1rem;
    margin-left: -2px;
}

