<button type="@Type.ToLower()" 
        class="btn iconbutton @Corners.ToLower() @CssClass" 
        style="@Style"
        @onclick="(() => OnClick.InvokeAsync())">

    <div class="icon-container">
        <span class="iconbutton-icon">
            @ChildContent
        </span>
    </div>
    @if (!string.IsNullOrEmpty(Text))
    {
        <div class="text-container">
            @Text
        </div>
    }

</button>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback<string> OnClick { get; set; } 

    /// <summary>
    /// Button text (optional).
    /// </summary>
    [Parameter]
    public string? Text { get; set; } = null;

    /// <summary>
    /// Type of the button: submit(default), button, reset.
    /// </summary>
    [Parameter]
    public string? Type { get; set; } = "submit";

    /// <summary>
    /// Translates to HTML "class" attribute.
    /// </summary>
    [Parameter]
    public string? CssClass { get; set; } = "";

    /// <summary>
    /// Translates to HTML "style" attribute.
    /// </summary>
    [Parameter]
    public string? Style { get; set; } = "";

    /// <summary>
    /// Sets the border-radius: leave empty for default (4px), noradius, rounded.
    /// </summary>
    [Parameter]
    public string? Corners { get; set; } = "";



}
